@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply m-0 p-0 box-border overflow-x-hidden bg-black text-white;
  font-family: 'Orbitron', sans-serif;
}

.glass-box {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.neon-blue {
  color: #00f7ff;
  text-shadow: 0 0 6px #00f7ff, 0 0 12px #00f7ff;
}
